## Terraform ##
*.tfvars
# Compiled files
*.tfstate*
# Module directory
.terraform/

## Go ##
grace-inventory-lambda
vendor/
*.zip
release/
.DS_Store
*/.DS_Store
integration/integration
integration/integration.exe
handler/handler
handler/handler.exe
.idea/
